<div class="top_container">
  <h1>Touringood</h1>
  <p>ツーリングのルート共有アプリです。</p>
  
  <div class="sign_up">
  <% if user_signed_in? %>
    <%= link_to "投稿する", new_post_path, class: 'btn btn-primary' %>

  <%else%>
    <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>

<%= link_to "投稿一覧", posts_path %>

<%= render 'users/shared/users_posts' %>