@import "bootstrap/scss/bootstrap";
  
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 @import 'header';
 @import 'posts/index';
 @import 'posts/show';
 @import 'comments';
 @import 'likes';
 @import 'relationships';
 @import 'users';
 // max-width

 .mw-md {
   max-width: 576px;
   padding-top: 60px;
  }

 .main_container {
    min-height: 90vh;
    padding-top: 54px;
  }
  // 「ログインしました」などのフラッシュ用スタイル
  
  .alert {
    margin-bottom: 0em;
  }

  .alert-notice {
    @extend .alert-info;
  }
  
  .alert-alert {
    @extend .alert-danger;
  }

  .alert {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: .5s;
    text-align: center;
    border-radius: 0;
  }