// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_container {
  color: aliceblue;
  background-color: rgb(42, 59, 112);
  width: 100%;
  height: 250px;
  h1 {
    text-align: center;
    padding-top: 30px;
  }
  p {
    text-align: center;
  }
  .sign_up {
    text-align: center;
    padding-top: 20px;
  }
}
