.contents {
  width: 100%;
  margin-top: 1em;
  margin-right: auto;
  margin-left:  auto;
}

.post-show-container {
  justify-content: center;
  display: flex;
}

.post-show-image {
  height: 225px;
  width: 300px;
}